<h4>{{ title}}</h4>

<form method="GET">
  <label for="movie_type">Please select a movie genre for which you would like to make a reservation:</label>
      <select id="movie_type" name="movie_type">

            {%  for item in items %}
                <option value="{{ item.id }}">{{ drupal_entity('taxonomy_term', item.id) }}</option>
            {% endfor %}
    
        </select>
    <input id="submit" type="submit">
</form>

<script>
  
  let submit = document.getElementById("submit");

  submit.addEventListener('click',function(e){
  e.preventDefault();

  let dropdown = document.getElementById("movie_type");
  let result = dropdown.value;

  let url = '/movie/type/' + result;

  console.log(url);

  window.location.href = url;


  })
  
</script>